.button {
  border-radius: 10px;
  border: 3px solid #000000;
}

/* Heights */
.fiveH {
  height: 5%;
}

.tenH {
  height: 10%;
}

.fiftyH {
  height: 50%;
}

.eightyH {
  height: 80%;
}

/* Widths */
.autoW {
  width: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.seventyW {
  width: 70%;
}

/* Background colors */
.light-blue {
  background-color: #5697e7;
}
